.outline{
    border: 2px solid;
}

.box{
    height: 80px;
    width: 80px;
    font-size: 2.5rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    /* font-weight: 500; */
    text-align: center;
    background: white;
    border: 1px solid #adb5bd;
    margin: 4px;
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.grid-container{
    height: 60%;
    width: fit-content;
    margin-top: .5rem;
}

.grid-container-wrapper{
    border: 2px solid;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0px;
    padding: 2rem 0px;
    border-radius: 15px;
}

.grid-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid; */
  }

  .status{
    margin: 1rem 0px;
    font-size: 1.3rem;
  }
  
  .icon-group-container{
    /* border: 2px solid; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0px;
  }

  .cover-container{
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer{
    width: 100%;
    /* border: 2px solid red; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
  }

  .content{
    width: 100%;
    /* border: 2px solid green; */
    text-align: center;
    font-size: 1rem;

  }

  /* scorebar css */
  
.score-bar-outer-container{
    width: 100%;
    padding: .6rem 0px;
    background-color: black;
    /* border-radius: 15px; */
}

.flex-justify-evenly{
    display: flex;
    justify-content: space-evenly;
}

.scores-container{
    width: 60%;
}

.heading-container{
border-radius: 15px;
padding: 4px 8px;
width: 35%;
text-align: center;
font-weight: 650;
font-size: 1.4rem;
/* background: white; */
color: white;
}

.score{
    font-weight: 700;
    background: white;
    width: 20%;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    padding: 7px;
    align-items: center;
}

.scores-container{
border-radius: 15px;
padding: 4px 8px;
/* background: white; */
}

@media screen and (max-width:780px) {

    .score-bar-outer-container {
        /* background-color: red; */
        width: 100%;
        border-radius: 0px;

        flex-direction: column;
        align-items: center;
    }

    .heading-container{
        width: 100%;
        margin: 1rem 0px;
    }

   .score{
    /* font-size: .9rem; */
    min-width: 70px;
   }
   .scores-container{
    width: 100%;
   }

   .icon-group-container{
    width: 45%;
    margin:0px;
    margin-bottom: 2rem;
   }

   .grid-container-wrapper{
    border: none;
   }
  }

  .icon-button{
    border-radius: 50%;
    padding: 4px;
    background: transparent;
  }
  